module "lucidum_monitor_role" {
  source      = "git::https://github.com/LucidumInc/terraform-aws-lucidum-monitor-role.git?ref=v1.0.1"
  
  assume_role = {{assume_role}}
  account_id  = "{{account_id}}"
}

# this will output the Role ARN
output "lucidum_monitor_role" {
  value       = module.lucidum_monitor_role.iam_role
}